<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="response_time_1" data-view="Alert" data-addclass-danger="isTooHigh" data-title="Response Time 1" data-threshold=200></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="component_id" data-view="List" data-title="Random Component"</div>
    </li>
  </ul>

  <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
    <div data-id="component-count" data-view="Graph" data-title="Components" data-suffix = "" style="background-color:#ff9618"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
    <div data-id="component-count" data-view="Graph" data-title="Jaidans" data-suffix = "" style="background-color:#ff9618"></div>
  </li>

</div>
